.header-produtos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin: 15px 5px;
}

.btn-novoProduto {
    padding: 4px;
    background-color: var(--button-primary);
    color: var(--secundary);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s ease-in-out;
    width: auto;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inconBTN {
    font-size: 20px;
}

.btn-novoProduto:hover {
    background-color: var(--button-effect);
}


.modal-addProdutos {
    width: 450px;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 2;
    background-color: var(--secundary);
    box-shadow: 0 0 8px 2px grey;
    border-radius: 4px;
}

.modal-addProdutos header {
    padding: 5px;
    margin: 5px 0;

}

.modal-addProdutos form {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 5px;
}

.modal-addProdutos form input {
    height: 35px;
    padding-left: 5px;
}


.modal-addProdutos footer {
    display: flex;
    justify-content: end;
    gap: 5px;
    margin: 5px 0;
}

.btn-cancelar {
    width: auto;
    height: 40px;
    background-color: var(--secundary);
    padding: 5px;
    border-radius: 4px;
    border: 1px solid grey;
}

.btn-cadastrar {
    width: auto;
    height: 40px;
    background-color: var(--button-primary);
    padding: 5px;
    border-radius: 4px;
    border: none;
}