.container-card {
    width: 100%;
}


.container-usuarios {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    margin: 15px 5px;
    background-color: var(--base);
    box-shadow: 0 0 4px 0px var(--foreGround);
    border-radius: 8px;
    padding: 15px;
    overflow-y: auto;
    scroll-behavior: smooth;
    max-height: 450px;
}

.navCard-user {
    display: flex;
    margin: 15px 5px;
    gap: 10px;
}