@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  --primary-color: #B8291F;
  --primary-foreGround: #FCFCFC;
  --secundary: #F5F5F5;
  --secundary-foreGround: #171717;
  --accent: #1E589E;
  --accent-foreGround: #FCFCFC;
  --base: #FFFCF5;
  --foreGround: #0A0A0A;
  --button-primary: rgb(230, 74, 25);
  --button-effect: rgb(255, 64, 5);

}

#root {
  display: flex;

}

.main {
  padding: 10px;
}


@media screen and (width > 1200px) {
  .main {
    width: 1600px
  }

}